@font-face {
  font-family: 'RalewayRegular';
  src: url('../fonts/Raleway-Regular.eot');
  src: local('../fonts/Raleway-Regular'), local('Raleway-Regular'),
  url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayThin';
  src: url('../fonts/Raleway-Thin.eot');
  src: local('../fonts/Raleway-Thin'), local('Raleway-Thin'),
  url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Thin.woff') format('woff'),
  url('../fonts/Raleway-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background: rgba(33, 37, 41, 0.83);
  font: 18px 'RalewayRegular', sans-serif;
  letter-spacing: .04em;
  color: #605d5d;
  background: url(../img/back.jpg);
  background-size: contain;
}
.wrap {
  min-width: 320px;
  overflow: hidden;
}
.container {
  -webkit-box-shadow: -1px 2px 17px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 2px 17px 0px rgba(0,0,0,0.55);
  box-shadow: -1px 2px 17px 0px rgba(0,0,0,0.55);
  padding: 50px 30px;
  background: #ffffff;
}
h1,
h2 {
  text-align: center;
}
h1 {
  margin-bottom: 40px;
}
hr {
  position: relative;
  border: none;
  height: 2px;
}
h1 + hr {
  margin-bottom: 40px;
}
h1 + hr:before {
  content: '';
  position: absolute;
  width: 200px;
  height: 2px;
  background: #000;
  left: 0;
  right: 0;
  margin: 0 auto;
}
h2 {
  margin-bottom: 15px;
}
h2 + hr {
  margin-bottom: 35px;
}
h2 + hr:before {
  content: '';
  position: absolute;
  width: 150px;
  height: 1px;
  background: #000;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.info {

}
.skills {
  text-align: center;
  margin-bottom: 20px;
}
.skills__holder {
  max-width: 1000px;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding-left: 0;
}
.skills__holder li {
  margin-bottom: 10px;
}
.projects__head {
  background: #70b161;
  padding: 40px 0;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.projects__list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 40px;
}
.projects__name {
  font-weight: bold;
  margin-bottom: 15px;
}
@keyframes setup {
  from {
    margin-left: -9999px
  }
  to {
    margin-left: 0;
  }
}
.projects__list li {
  text-align: center;
  margin-bottom: 40px;
}
.projects__img {
  display: block;
  height: 300px;
  background-size: cover;
  background-position: center top;
  border: 2px solid #eee;
  margin-bottom: 10px;
  -webkit-box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.75);
}