body {
  background: rgba(33, 37, 41, 0.83);
}
.wrap {
  min-width: 320px;
  overflow: hidden;
}
.container {
  -webkit-box-shadow: -1px 2px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 17px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 17px 0px rgba(0,0,0,0.75);
  padding: 50px 20px;

  background: #eeeeee;
}
h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}
hr {
  position: relative;
  border: none;
  height: 2px;
}
h1 + hr {
  margin-bottom: 40px;
}
h1 + hr:before {
  content: '';
  position: absolute;
  width: 200px;
  height: 2px;
  background: #000;
  left: 0;
  right: 0;
  margin: 0 auto;
}
h2 {
  margin-bottom: 20px;
}
h2 + hr {
  margin-bottom: 30px;
}
h2 + hr:before {
  content: '';
  position: absolute;
  width: 150px;
  height: 1px;
  background: #000;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.info {

}
.skills {
  text-align: center;
  margin-bottom: 20px;
}
.skills__holder {
  max-width: 850px;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding-left: 0;
}
.skills__holder li {
  margin-bottom: 10px;
}
.projects__head {
  background: #70b161;
  padding: 40px 0;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.projects__list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 40px;
}
.projects__name {
  font-weight: bold;
  margin-bottom: 10px;
}
.projects__list li {
  text-align: center;
  margin-bottom: 40px;
}
.projects__img {
  display: block;
  height: 300px;
  background-size: cover;
  background-position: center top;
  border: 2px solid #eee;
  margin-bottom: 10px;
  -webkit-box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.75);
}